header{
  width: 100vw;
  height: 60px;
  background-color: var(--footer-and-header-color);
}
div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: inherit;
}
img{
  height: 28px;
  width: 76px;
  display: inline-block;
  grid-column: 2;
}
i{
  color: var(--inputs-background-color);
  font-size: 2rem;
  justify-self: end;
  margin-right: 20px;
}
nav{
  position: absolute;
  width: 100vw;
  top: 60px;
  z-index: 3;
}
ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
li{
  width: 100vw;
  height: 48px;
  background-color: var(--titles-color);
  border-bottom: var(--buttons-color) 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  color: var(--inputs-background-color);
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px){
  i{
    display: none;
  }
  nav{
    top: 0px;
    position: relative;
    margin-right:20px;
    width: 20vw;
  }
  li{
    background-color: transparent;
    border: none;
  }
  li:nth-child(1)::after{
    content: "";
    display: inline-block;
    background-color: aliceblue;
    height: 28px;
    width: 2px;
    margin-left: 20px;
  }
  ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }
  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  div{
    grid-template-columns: 1fr;
    margin-left: 20px;
  }
}