footer{
  background-color: var(--footer-and-header-color);
  width: 100vw;
  height: 200px;
  color: var(--inputs-background-color);
}

h4{
  padding-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;

}

a{
  color: var(--inputs-background-color);
  font-size: 1.5rem;
}

nav{
  display: flex;
  justify-content: center;
  gap: 1rem;
}