<div class="container">
  <h1>Busca CEP</h1>
  <div class="search-container">
    <input type="text" name="cep" class="cep" placeholder="CEP">
    <input type="button" value="" class="button button-search">
  </div>
  <label for="maps">Maps</label>
  <input type="text" name="maps" readonly>
  <label for="maps">Logradouro/nome</label>
  <input type="text" name="maps" readonly>
  <label for="maps">Bairro/Distrito</label>
  <input type="text" name="maps" readonly>
  <label for="maps">Localidade/UF</label>
  <input type="text" name="maps" readonly>
  <button class="button">Copiar Conteúdo</button>
</div>