<div class="container">
  <h1>Busca CEP</h1>
  <div class="search-container">
    <input type="text" name="cep" class="cep" placeholder="CEP" (keyup)="ValidCepField()" (keypress)="maskField()" id="cepField" maxlength="9" pattern="[0-9]{5}-[0-9]{3}">
    <button type="button" value="" class="button button-search"><i class="bi bi-search"></i></button>
  </div>
  <div class="messageContainer" *ngIf="IsInvalid">
    <p class="message">CEP Inválido</p>
  </div>
  <div>
    <label for="maps">Maps</label>
    <div class="inputMapsContainer">
      <input type="text" name="maps" readonly class="input-maps">
      <button *ngIf="hasMoreThan768px" class="button button-copy"><i class="bi bi-files icon"></i></button>
    </div>
  </div>
  <div>
    <img src="" alt="">
  </div>
  <div>
    <label for="maps">Logradouro/nome</label>
    <input type="text" name="maps" class="input-logradouro" readonly>
  </div>
  <div class="bairro-localidade-container">
    <div>
      <label for="maps">Bairro/Distrito</label>
      <input type="text" name="maps" readonly>
    </div>
    <div>
      <label for="maps">Localidade/UF</label>
      <input type="text" name="maps" readonly>
    </div>
  </div>
  <button class="button copy">Copiar Conteúdo</button>
</div>