.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.button-search{
  width: 48px;
}

.button-search > i, .button-copy i{
  font-size: 1.5rem;
}
h1{
  margin: 0.25rem;
}
.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

input{
  height: 46px;
  width: 310px;
  padding: 0px 0.5rem;
}

.cep{
  width: 244px;
}

.copy{
  padding: 0px 2rem;
}
.messageContainer{
  width: 100vw;
}
.message{
  font-size: 0.8rem;
  margin-left: 1.5rem;
  color: #FF8000;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

@media (min-width: 768px){
  .search-container{
    gap: 2rem;
  }
  .button-search{
    width: 168px;
  }
  .cep{
    width: 17rem;
  }

  .inputMapsContainer{
    display: flex;
    gap: 2rem;
  }

  .input-maps{
    width: 400px;
  }

  .button-copy{
    width: 100px;
  }

  .input-logradouro{
    width: 532px;
  }

  .bairro-localidade-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .bairro-localidade-container > div > input{
    width: 242px;
  }

  .copy{
    width: 250px;
  }
}