.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.button-search{
  width: 48px;
}

.button-search > i{
  font-size: 1.5rem;
}
h1{
  margin: 0.25rem;
}
.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

input{
  height: 46px;
  width: 310px;
  padding: 0px 0.5rem;
}

input:focus{
  border: red 1px solid;
}

.cep{
  width: 244px;
}

.copy{
  padding: 0px 2rem;
}

.mensagem{
  font-size: 0.8rem;
  position: absolute;
  bottom: -18px;
  left: 0px;
  color: #FF8000;
}